<!-- Comprobamos que hay comentarios para mostrar -->
{% if comentarios|length >= 1 %}
<table>
    <tr>
        <th>Titulo Comentario</th>
        <th>Pagina</th>
        <th>Fecha del comentario</th>
        <th>Acciones</th>
    </tr>

    <!-- Vamos poniendo lineas mientras que tengamos comentarios -->
    {% for comentario in comentarios %}
        <tr>
            <td>{{ comentario.cotitle }}</td>
            <td>{{ comentario.copagina }}</td>

            <!-- Ponemos formato a la fecha -->
            <td>{{ comentario.cocreatedAt | date("d/m/Y h:m:s") }}</td>

            <!-- Añadimos los botones -->
            <td class="buttons">
                <a href="{{ path('Comentario_detail', {'coid':comentario.coid}) }}" class="btn-show">Ver</a>

                <!-- Solo ponemos los siguientes botones si el id del usuario coincide con el id asociado al comentario -->
                {% if app.user != null and comentario.coidusuariofk.uId == app.user.uId %}
                    <a href="" class="btn-edit">Editar</a>
                    <a href="" class="btn-delete">Borrar</a>
                {% endif %}
                
            </td>
        </tr>
    {% endfor %}

</table>
{% else %}
    <strong>No hay tareas disponibles en este momento</strong>
{% endif %}