{% extends 'base.html.twig' %}

{% block title %}Todos los comentarios{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Todos los comentarios</h2>
    {{ include('comentario/comentarios-list.html.twig') }}
 
</div>
{% endblock %}